/* body{
  height: 45rem;
} */
/* .main{
  height: auto;
  justify-content: center; */
/* } */
header{
  margin: 2rem 0 0 0;
}
.images::before{
  background: url(images/Polygon.svg) no-repeat; 
  background-size: 18rem;
  width: 21.5625rem;
  height: 21.5625rem;
}
.choice{
  width: 9.0625rem;
  height: 9.25rem;
  position: absolute;
}
.choice img {
  width: 100%;
  height: auto;
 }

.scissors {
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.spock {
  top: 60%;
  left: 34%;
  transform: translate(-50%, -50%);
}
.paper {
  top: 60%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.lizard {
  top: 95%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.rock {
  top: 95%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.header{
  background-image: url(images/image-rules-bonus.svg);
  background-size: 21rem 20.625rem;
  width: 25rem;
  height: 28.8125rem;
  top: 56%;
}


@media (min-width: 320px) and (max-width: 420px) {
  header{
    margin: 2rem 0 0 3rem;
  }
  header img{
    width: 3.01956rem;
    height: 3rem;
  }
  .choice img{
    width: 6rem;
    height: 6.0625rem;
  }
  section{
    margin-top: 4rem;
    width: 25rem;
    height: 25rem;
    left: 3rem;
  }
  section::before{
    background: url(images/polygon-phone.svg) no-repeat;
    width: 14.1875rem;
    height: 14.1875rem;
    left: 14%;
  }
  .header{
    background-size: 19.4375rem 19.0625rem;
  }
}