section::before{
  background: url(images/Polygon.svg) no-repeat; 
  width: 21rem;
  height: 20rem;
}
/* .images{
  
} */
.choice{
  width: 9.0625rem;
  height: 9.25rem;
}
.header{
  background-image: url(images/image-rules-bonus.svg);
}